<ul>
   {% for key,col in arr %}
      {% if col|length > 0 %}
          <li class="item_titre"> 
               <img src="{{ asset('bundles/devbierestaskwebhtml/images/' ~ key ~ '.png') }}" alt="{{ key | trans }}" />
               {{ key|trans|upper }}
          </li>
          {% for obj in col %}
               {% include 'DevBieresTaskWebHtmlBundle:Tache:list_item.html.twig' with { 'obj' : obj } %}
          {% endfor %}
      {% endif %}
   {% else %}
     <li> {{ 'site.task.nothingtodo'|trans }} </li>
   {% endfor %}
</ul>
