<!DOCTYPE html>
<html>
    <head>
       <meta charset="UTF-8" />
    <head>
    <body>
{% block avertissement %}

{% endblock %}

{% block stylesheets %}
     <link href="{{ asset('bundles/devbierestaskuser/css/fos.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}

{% block page %}
    {% block fos_user_content %}{% endblock %}
{% endblock %}

    </body>
</html>

