<ul>
{% for obj in col %}
     {% include 'DevBieresTaskWebHtmlBundle:Tache:list_item.html.twig' with { 'obj' : obj } %}
{% else %}
     <li> {{ 'site.task.nothingtodo'|trans }} </li>
{% endfor %}
</ul>
