{% extends "DevBieresTaskWebHtmlBundle::layout.html.twig" %}

{% block content_title %}
   {{ 'site.task.yourtasks'|trans }}
{% endblock %}

{% block content %}
   <div id="yourtasks" class="liste" >
        {% render "DevBieresTaskWebHtmlBundle:Tache:list" %}
   </div>
{% endblock %}
