{% extends "DevBieresTaskMobileBundle::layout.html.twig" %}

{% block page %}
   <div id="edittask" class="formulaire" data-role="page"  >
        {%  
             include "DevBieresTaskMobileBundle::header.html.twig" 
             with {
                     'title' : 'site.task.edit',
                     'back'  : 'true'
                  }
         %}

     {% include 'DevBieresTaskMobileBundle:Tache:form.html.twig' with { 'form' : form, 'path': path('mobile_tache_update', {'tache':obj.id }) } %}

   </div>
{% endblock %}
