{% extends "DevBieresTaskMobileBundle::layout.html.twig" %}

{% block page %}
   <div id="edittask" class="formulaire" data-role="page"  >
         <header data-role="header" >
             <h2> {{ 'site.edit'|trans }} </h2>
         </header>

     {% include 'DevBieresTaskMobileBundle:Tache:form.html.twig' with { 'form' : form, 'path': path('mobile_tache_update', {'tache':obj.id }) } %}

     {%  
            include "DevBieresTaskMobileBundle::footer.html.twig" 
     %}

   </div>
{% endblock %}
