{% extends "DevBieresTaskMobileBundle::layout.html.twig" %}

{% block page %}
   <div id="newtask" class="formulaire" data-role="page"  
              data-add-back-btn="true"
              data-back-btn-text="{{ 'site.back'|trans }}" >

        {%  
             include "DevBieresTaskMobileBundle::header.html.twig" 
             with {
                     'title' : 'site.task.new',
                     'home'  : 'true'
                  }
         %}
   
     {% include 'DevBieresTaskMobileBundle:Tache:form.html.twig' with { 'form' : form, 'path': path('mobile_tache_create') } %}

   </div>
{% endblock %}
