{% extends "DevBieresTaskMobileBundle::layout.html.twig" %}

{% block css %}
       <link href="{{ asset('bundles/devbierescommonjquerymobile/css/mobiscroll-2.0.3.custom.min.css') }}" type="text/css" rel="stylesheet" />
{% endblock %} 
{% block js %}
       <script src="{{ asset('bundles/devbierescommonjquerymobile/js/mobiscroll-2.0.3.custom.min.js') }}" type="text/javascript" ></script>
       <script src="{{ asset('bundles/devbierestaskmobile/js/mobile.tache.task.js') }}" type="text/javascript" ></script>
{% endblock %}

{% block page %}
   <div id="newtask" class="formulaire" data-role="page"  >
         <header data-role="header" >
             <h2> {{ 'site.task.new'|trans }} </h2>
         </header>

     {% include 'DevBieresTaskMobileBundle:Tache:form.html.twig' with { 'form' : form, 'path': path('mobile_tache_create') } %}

   </div>
{% endblock %}
