html {
  background-color: lightgray;
}

img {
   border:0;
   vertical-align:middle;
}

h3 { 
  width:100%;
  text-align:center;
}

ul { list-style: none; }

footer {
  text-align:center;
}

.item_titre {
 padding-left: 35px;
}


@media screen
and (max-width:480px) {
   .nav_title, .action_title, .tache_projet { display:none;  }
   #page_title { width:100%; margin-left:0; }

}

